<!DOCTYPE html>

<html>
<title>ENS Cergy</title>

<head>
    <meta charset="utf-8">

    <div>
        <h1>ENS Cergy</h1>
    </div>

    <div>
        <ul>
            <li><a>Actualités</a></li>
            <li><a>Informations local</a></li>
            <li><button onclick="window.location.href = 'Inscription.html'">Inscription</button></li>
        </ul>
    </div>

</head>

<body>
    <div>
        <img src="https://img.20mn.fr/vfHLcdUYRP-fWqft0DrOKyk/718x0-0.1x2.3304203314061347-99.88276933403571">
        <p><strong>Article 1</strong></p>
    </div>

    <div>
        <img src="https://cdn-uploads.gameblog.fr/img/news/662978_67a1d5e734e72.jpg">
        <p><strong>Article 1</strong></p>
    </div>

</body>


</html>
