{% extends "base.html" %}

{% block content %} 
<div class="content-container">
    <div class="box-objet">
        <h1 class="title-box">Actualités</h1>
        <!-- Affichage des actualités avec un meilleur design -->
        <div class="actu-container">
            {% for actualite in actualites %}
                <div class="actualite-item">
                    <h3>{{ actualite.nom }}</h3>
                    <!-- <p>{{ actualite.description }}</p> -->
                    
                    {% if actualite.image %}
                        <img src="data:image/png;base64,{{ actualite.image | b64encode }}" width="200" height="200">
                    {% else %}
                        <img src="{{ url_for('static', filename='image-default.png') }}" width="200" height="200">
                    {% endif %}
                    
                    <!-- Formulaire pour supprimer l'actualité -->
                    <div class="user-actions" style="justify-content: center;">
                        {% if current_user.level == "Avance" or current_user.level == "Expert" %}
                        <form action="{{ url_for('main.delete_actualite', id=actualite.id) }}" method="POST">
                            <button type="submit" class="delete-btn">Supprimer</button>
                        </form>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
                <!-- Bouton pour ajouter une actualité (disponible pour les utilisateurs autorisés) -->
                {% if current_user.level == "Avance" or current_user.level == "Expert" %}
                <a href="{{ url_for('main.add_actualite') }}">
                    <button class="add-btn">Ajouter une actualité</button>
                </a>
            {% endif %}
    </div>

</div>



{% endblock %}
