{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Page de gestion de la plateforme
</h1>
<h2 class="subtitle">
    Page accessible seulement pour les administrateurs
    Statistiques clés (ex. : nombre d’utilisateurs, taux d’utilisation, alertes en cours)<br>
    Graphiques et indicateurs (ex. consommation énergétique, historique de connexion)<br>
    Liste des derniers événements (ex. derniers utilisateurs inscrits, objets ajoutés)<br>
</h2>
<div class="is-flex is-justify-content-center">
    <div class="container-admin">
        <a href="{{ url_for('admin.request_admin_list') }}" class="admin-item">Requêtes</a>
        <a href="{{ url_for('admin.gestion_utilisateur') }}" class="admin-item">Gestion des utilisateurs</a>
        <!-- TODO Créer les pages html correspondantes -->
        <a href="{{ url_for('manage_object.list_objects') }}" class="admin-item">Gestion des objets et outils</a>
        <a href="{{ url_for('main.manage') }}" class="admin-item">Sécurité et maintenance</a>
        <a href="{{ url_for('main.manage') }}" class="admin-item">Personnalisation</a>
        <a href="{{ url_for('main.manage') }}" class="admin-item">Rapports avancés</a>
    </div>
</div>
{% endblock %}