{% extends "base.html" %}

{% block content %}
<div class="user-container">
    <div class="back">
        <a href="{{ url_for('admin.gestion_utilisateur') }}" class="button">
            <img src="{{ url_for('static', filename='croix.png') }}" alt="Profil"  width="20" height="20">
        </a>
    </div>

    <h1 class="title-box">Information de l'utilisateur</h1>
    {% if user.image %}
        <img src="data:image/png;base64,{{ user.image | b64encode }}" width="60" height="60">
    {% else %}
        <img src="{{ url_for('static', filename='utilisateur-de-profil-sans-fond.png') }}" width="60" height="60">
    {% endif %}
    <div class="user-info">
        <h3>Partie publique</h3>
            <p><strong>Pseudo :</strong> {{ user.pseudo }}</p>
            <p><strong>Âge :</strong> {{ user.age }}</p>
            <p><strong>Genre :</strong> {{ user.gender }}</p>
            <p><strong>Date de Naissance :</strong> {{ user.birthdate.strftime('%d-%m-%Y')}}</p>
            <p><strong>Rôle :</strong> {{ user.role }}</p>
            <p><strong>Niveau :</strong> {{ user.level }}</p>
        <h3>Partie privée</h3>
            <p><strong>Nom :</strong> {{ user.lastname }}</p>
            <p><strong>Prénom :</strong> {{ user.firstname }}</p>
            <p><strong>Points :</strong> {{ user.point }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Mot de passe :</strong> 
                <input type="password" id="password-field" value="{{ current_user.password }}" readonly>
                <button type="button" id="toggle-password" onclick="togglePassword()">Afficher</button>
            </p>
            
            <script>
                // Fonction pour alterner l'affichage du mot de passe
                function togglePassword() {
                    var passwordField = document.getElementById('password-field');
                    var toggleButton = document.getElementById('toggle-password');
                    
                    if (passwordField.type === "password") {
                        passwordField.type = "text";  // Révéler le mot de passe
                        toggleButton.innerText = "Masquer";  // Changer le texte du bouton
                    } else {
                        passwordField.type = "password";  // Masquer le mot de passe
                        toggleButton.innerText = "Afficher";  // Changer le texte du bouton
                    }
                }
            </script>
    </div>  

    <div class="user-actions">
        <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">
            <button class="edit-btn">Modifier</button>
        </a>
        <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="post">
            <button type="submit" class="delete-btn" onclick="return confirm('Voulez-vous vraiment supprimer ce compte ?')">
                Supprimer
            </button>
        </form>
    </div>
</div>
{% endblock %}
