{% extends 'base.html' %}

{% block content %}

<div class="search-container">
    <input type="text" id="searchInput2" class="search-input search-obj" placeholder="Rechercher une requête...">
</div>

<h1 class="title">
    Page  des requêtes
</h1>

<div class="resquest-container">
        <table>
            <tr>
                <th>Requête</th>
                <th>Commanditaire</th>
                <th>Objet</th>
                <th>Motif</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        <tbody id="results2"> 
        {% for rqs in requests %}
        {% if rqs.title == "Demande de suppression d'objet" %}
            <tr>
                <td>{{rqs.title}}</td>
                <td>{{rqs.user_firstname}} {{rqs.user_lastname}}</td>
                <td>{{rqs.object_name}} ({{rqs.object_type}})</td>
                <td>{{rqs.description}}</td>
                <td>{{rqs.date}}</td>
                {% if rqs.status == "En attente" %}
                <td>
                    <form action="{{ url_for('admin.request_accept', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="accept-btn">Accepter</button>
                    </form>
                    <form action="{{ url_for('admin.request_refuse', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Refuser</button>
                    </form>
                </td>
                {% else %}
                    <td>{{rqs.status}}</td>
                {% endif %}
                <td>
                    <form action="{{ url_for('admin.delete_request', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% elif rqs.title == "Demande de suppression de pièce" %}
        <tr>
            <td>{{rqs.title}}</td>
            <td>{{rqs.user_firstname}} {{rqs.user_lastname}}</td>
            <td>{{rqs.object_name}}</td>
            <td>{{rqs.description}}</td>
            <td>{{rqs.date}}</td>
            {% if rqs.status == "En attente" %}
            <td>
                <form action="{{ url_for('admin.request_accept', request_id=rqs.id) }}" method="post">
                    <button type="submit" class="accept-btn">Accepter</button>
                </form>
                <form action="{{ url_for('admin.request_refuse', request_id=rqs.id) }}" method="post">
                    <button type="submit" class="refuse-btn">Refuser</button>
                </form>
            </td>
            {% else %}
                <td>{{rqs.status}}</td>
            {% endif %}
            <td>
                <form action="{{ url_for('admin.delete_request', request_id=rqs.id) }}" method="post">
                    <button type="submit" class="refuse-btn">Supprimer</button>
                </form>
            </td>
        </tr>
        {% elif rqs.title == "Demande d'inscription" %}
            <tr>
                <td>{{rqs.title}}</td>
                <td>Serveur</td>
                <td>{{rqs.user_firstname}} {{rqs.user_lastname}}</td>
                <td>{{rqs.description}}</td>
                <td>{{rqs.date}}</td>
                {% if rqs.status == "En attente" %}
                <td>
                    <form>
                        <button type="button" onclick="openRequestMotif('role')" class="accept-btn">Accepter</button>
                    </form>
                    <form action="{{ url_for('admin.request_refuse', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Refuser</button>
                    </form>
                </td>
                {% else %}
                    <td>{{rqs.status}}</td>
                {% endif %}
                <td>
                    <form action="{{ url_for('admin.delete_request', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Supprimer</button>
                    </form>
                </td>
            </tr>

            <div id="requestMotifOverlay-role">
                <div id="requestMotif-role">
                    <h2>Attribuer un rôle à l'utilisateur</h2>
                    <form action="{{ url_for('admin.request_accept', request_id=rqs.id) }}" method="post">
                        <div class="form-groupRadio">
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Père" checked />
                                <span>Père</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Mère" />
                                <span>Mère</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Enfant" />
                                <span>Enfant</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Cousin" />
                                <span>Cousin</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Oncle" />
                                <span>Oncle</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Tante" />
                                <span>Tante</span>
                            </label>
                            <label class="radio-wrapper">
                                <input type="radio" name="role" value="Grand-parent" />
                                <span>Grand-parent</span>
                            </label>
                        </div>
                        <div class="user-actions">
                        <button type="submit" class="edit-btn">Envoyer</button>
                        <button type="button" class="delete-btn" onclick="closeRequestMotif('role')">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>

        {% elif rqs.title == "Demande de passage à niveau" %}
            <tr>
                <td>{{rqs.title}}</td>
                <td>{{rqs.user_firstname}} {{rqs.user_lastname}}</td>
                <td>{{rqs.object_name}}</td>
                <td>{{rqs.description}}</td>
                <td>{{rqs.date}}</td>
                {% if rqs.status == "En attente" %}
                <td>
                    <form action="{{ url_for('admin.request_accept', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="accept-btn">Accepter</button>
                    </form>
                    <form action="{{ url_for('admin.request_refuse', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Refuser</button>
                    </form>
                </td>
                {% else %}
                    <td>{{rqs.status}}</td>
                {% endif %}
                <td>
                    <form action="{{ url_for('admin.delete_request', request_id=rqs.id) }}" method="post">
                        <button type="submit" class="refuse-btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
        </table>
</div>

{% endblock %}