{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Modifier l'utilisateur</h3>
    <div class="box">
        <div class="back">
            <a href="{{ url_for('manage_object.profile_object', obj_id=obj.id) }}" class="button">
                <img src="{{ url_for('static', filename='croix.png') }}" alt="Profil"  width="20" height="20">
            </a>
        </div>
        <form method="POST" action='/edit_object/{{obj.id}}'>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nom" autofocus="" value="{{obj.nom}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="type" autofocus="" value="{{obj.type}}" readonly>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="reference" value="{{obj.reference}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="brand" value="{{obj.brand}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="battery" value="{{obj.battery}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="energy" value="{{obj.energy}}" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Connectivité :</label>
                <div class="checkbox-box">
                    <label class="checkbox">
                        <input type="checkbox" name="connectivity" value="Wifi" {% if "Wifi" in obj.connectivity %} checked {% endif %}> Wifi
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="connectivity" value="Bluetooth" {% if "Bluetooth" in obj.connectivity %} checked {% endif %}> Bluetooth
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="connectivity" value="Ethernet" {% if "Ethernet" in obj.connectivity %} checked {% endif %}> Ethernet
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="connectivity"  id="no-network" value="Sans réseau" {% if 'Sans réseau' in obj.connectivity %} checked {% endif %}> Sans réseau
                    </label>
                </div>
            </div>

            {% if obj.luminosity is not none %}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="luminosity" value="{{obj.luminosity}}" required>
                    </div>
                </div>
            {% endif %} 
            
            {% if obj.size is not none %}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="size" value="{{obj.size}}" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="resolution" value="{{obj.resolution}}" required>
                    </div>
                </div>
            {% endif %}
        
            {% if obj.volume is not none %}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="volume" value="{{obj.volume}}" required>
                    </div>
                </div>
            {% endif %}
            
            {% if obj.temp is not none %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="temp" placeholder="temp" value="{{obj.temp}}" required>
                </div>
            </div>
            {% endif %}

            <button class="button is-block is-info is-large is-fullwidth">Enregistrer</button>
        </form>
    </div>
</div>
{% endblock %}