{% extends "base.html" %}

{% block content %}
<div class="search-container">
    <input type="text" class="search-input" placeholder="Rechercher un utilisateur...">
    <button class="search-button">Rechercher</button>
</div>
<div class="gestion-container">
    <h1 class="title-box">Liste des Utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li><a href="{{ url_for('main.user_profile', user_id=user.id) }}">{{ user.pseudo }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
