{% extends "base.html" %}

{% block content %}

<!-- Barre de recherche -->
<div class="search-container">
    {% if not current_user.is_authenticated %}
    <input type="text" class="search-input search-news" placeholder="Rechercher une actualité...">
    {% endif %}
    {% if current_user.is_authenticated %}
    <input type="text" class="search-input search-obj" placeholder="Rechercher un objet...">
    {% endif %}
    <button class="search-button">Rechercher</button>
</div>

<h1 class="title">
    Bienvenue {{current_user.firstname}} ! 
</h1>

<!-- Conteneur des actualités et informations -->
<div class="content-container">
    <!-- Actualités -->
    <div class="box-index news-box">
        <h2 class="title-box">Membres de la famille</h2>
        <!-- <div class="news-item">
            <h3>Nouvelle réforme économique</h3>
            <p>Le gouvernement annonce une nouvelle réforme pour soutenir les petites entreprises, dans le but de favoriser leur croissance et de renforcer leur compétitivité sur le marché. Cette réforme comprend des mesures de simplification administrative, un allégement fiscal, ainsi qu'un soutien renforcé à l'innovation et à la transition numérique. L'objectif est de permettre aux petites entreprises d'accéder plus facilement aux financements et de stimuler leur développement, tout en leur offrant un cadre plus flexible et adapté à leurs besoins. En renforçant ces acteurs économiques clés, le gouvernement espère également créer de nouveaux emplois et dynamiser l'économie locale.</p>
        </div> -->
        <div class="user-box">
            {% for user in users %}
                {% if user.id != current_user.id %}
                <div class="news-item">
                    <h3>{{ user.pseudo }}</h3>
                    {% if user.image %}
                        <img class="pp" src="data:image/png;base64,{{ user.image | b64encode }}" width="60" height="60">
                    {% else %}
                        <img src="{{ url_for('static', filename='utilisateur-de-profil-sans-fond.png') }}"  width="60" height="60">
                    {% endif %}
                    <p><strong>Âge :</strong> {{ user.age }} ans</p>
                    <p><strong>Genre :</strong> {{ user.gender }}</p>
                    <p><strong>Date de Naissance :</strong> {{ user.birthdate.strftime('%d-%m-%Y')}}</p>
                    <p><strong>Rôle :</strong> {{ user.role }}</p>
                    <p><strong>Niveau :</strong> {{ user.level }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Informations locales -->
    <!-- TODO à changer -->
    <div class="box-index info-box">
        <h2 class="title-box">📍 Informations Locales</h2>
        <div class="info-item">
            <h3>Travaux sur la ligne de métro</h3>
            <p>Le métro ligne 3 sera en travaux du 10 au 15 mars, avec des bus de substitution</p>
        </div>
        <div class="info-item">
            <h3>Marché local ce weekend</h3>
            <p>Retrouvez les producteurs locaux sur la place centrale ce samedi matin !</p>
        </div>
        <div class="info-item">
            <h3>Météo : pluie prévue</h3>
            <p>Préparez vos parapluies ! De fortes averses sont prévues en fin de semaine</p>
        </div>
    </div>
</div>
{% endblock %}
