{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Page de gestion des objets connectés
</h1>
<h2 class="subtitle">
    Page accessible seulement pour les complexes et les administrateurs
</h2>

<h2>Liste des objets</h2>
    {% for obj in objects %}
            <a href="{{ url_for('manage_object.profile_object', obj_id=obj.id) }}" class="objet-item">
                <h3>{{ obj.nom }} ({{ obj.type }})</h3>
                {% if obj.image %}
                    <img src="data:image/png;base64,{{ obj.image | b64encode }}" width="200" height="200">
                {% else %}
                    <p>Aucune image</p>
                {% endif %}
            </a>
    {% endfor %}
<br>
<a href="{{ url_for('manage_object.add_object') }}">Ajouter un objet</a>

    
{% endblock %}