{% extends "base.html" %}

{% block content %}
    <div class="user-container">
        {% if current_user.image %}
            <img src="data:image/png;base64,{{ current_user.image | b64encode }}"width="60" height="60">
        {% else %}
            <img src="{{ url_for('static', filename='utilisateur-de-profil-sans-fond.png') }}"  width="60" height="60">
        {% endif %}
        <div class="user-info">
            <h3>Partie publique</h3>
                <p><strong>Pseudo :</strong> {{ current_user.pseudo }}</p>
                <p><strong>Âge :</strong> {{ current_user.age }} ans</p>
                <p><strong>Genre :</strong> {{ current_user.gender }}</p>
                <p><strong>Date de Naissance :</strong> {{ current_user.birthdate.strftime('%d-%m-%Y')}}</p>
                <p><strong>Rôle :</strong> {{ current_user.role }}</p>
                <p><strong>Niveau :</strong> {{ current_user.level }}</p>

            <h3>Partie privée</h3>
                <p><strong>Nom :</strong> {{ current_user.lastname }}</p>
                <p><strong>Prénom :</strong> {{ current_user.firstname }}</p>
                <p><strong>Points :</strong> {{ current_user.point }}</p>
                <p><strong>Email :</strong> {{ current_user.email }}</p>
                <!-- <p><strong>Mot de Passe :</strong> {{ current_user.password }}</p> -->
                <p><strong>Mot de passe :</strong> 
                    <input type="password" id="password-field" value="{{ current_user.password }}" readonly>
                    <button type="button" id="toggle-password" onclick="togglePassword()">Afficher</button>
                </p>
                
                <script>
                    // Fonction pour alterner l'affichage du mot de passe
                    function togglePassword() {
                        var passwordField = document.getElementById('password-field');
                        var toggleButton = document.getElementById('toggle-password');
                        
                        if (passwordField.type === "password") {
                            passwordField.type = "text";  // Révéler le mot de passe
                            toggleButton.innerText = "Masquer";  // Changer le texte du bouton
                        } else {
                            passwordField.type = "password";  // Masquer le mot de passe
                            toggleButton.innerText = "Afficher";  // Changer le texte du bouton
                        }
                    }
                </script>

        </div>  
        <div class="user-actions">
            <a href="{{ url_for('main.edit_user1') }}">
                <button class="edit-btn">Modifier</button>
            </a>
            <form method="POST" action="{{ url_for('main.delete_profile') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">
                <button class="delete-btn" type="submit">
                    Supprimer
                </button>
            </form>
        </div>
    </div>
{% endblock %}
