{% extends "base.html" %}

{% block content %}
    <div class="user-container">
        <div class="back">
            <a href="{{ url_for('manage_object.list_objects')}}">
                <img src="{{ url_for('static', filename='croix.png') }}" alt="Profil"  width="20" height="20">
            </a>
        </div>
        <h2 class="title-box">
            {{ obj.nom }} ({{ obj.type }})
        </h2>

        <div class="user-info">
            {% if obj.image %}
                <img src="data:image/png;base64,{{ obj.image | b64encode }}" width="100">
            {% else %}
                <p>Aucune image</p>
            {% endif %}

            {% if current_user.level =="Avance" or current_user.level == "Expert" %}
                {% if obj.status == "ON" %}
                    <a href="{{ url_for('manage_object.desactivate_object', obj_id=obj.id)}}"><button class="button is-info" >Désactiver</button></a>
                {% else %}
                    <a href="{{ url_for('manage_object.activate_object', obj_id=obj.id)}}"><button class="button is-info" >Activer</button></a>
                {% endif %}
            {% endif %}
        
            <p><strong>Référence :</strong>{{ obj.reference }}</p>
            <p><strong>Marque : </strong>{{ obj.brand }}</p>
            <p><strong>Statut : </strong>{{ obj.status }}</p>
            <p><strong>Batterie : </strong>{{ obj.battery }} %</p>
            <p><strong>Consommation électrique : </strong>{{ obj.energy }} Wh</p>
            <p><strong>Connectivité : </strong>{{ obj.connectivity }}</p>
        
            {% if obj.luminosity is not none %}
                <p><strong>Consommation lumineuse : </strong>{{ obj.luminosity }} Lm</p>
            {% endif %}
        
            {% if obj.size is not none %}
                <p><strong>Taille : </strong>{{ obj.size }} Pouces</p>
                <p><strong>Résolution : </strong>{{obj.resolution}} px</p>
            {% endif %}
        
            {% if obj.volume is not none %}
                <p><strong>Volume : </strong>{{ obj.volume }} %</p>
            {% endif %}
            
            {% if obj.temp is not none %}
                <p><strong>Température : </strong>{{ obj.temp }}</p>
            {% endif %}
        </div>
        

        <div class="user-actions">
            {% if current_user.level =="Avance" or current_user.level == "Expert" %}
                <a href="{{ url_for('manage_object.edit_object', obj_id=obj.id)}}">
                    <button class="edit-btn">Modifier</button>
                </a>
                {%if obj.room_id is not none %}
                    <a href="{{ url_for('manage_object.remove_object_room', obj_id=obj.id)}}">
                        <button class="edit-btn">Retirer de la pièce</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('manage_object.add_object_room2', obj_id=obj.id, room_id=0) }}">
                        <button class="edit-btn">Ajouter à une autre pièce</button>
                    </a>
                {% endif %}
            {% endif %}
        
            {% if current_user.level == "Avance" %}
                <button type="button" class="delete-btn" onclick="openRequestMotif()">Demande de suppression</button>
            {% endif %}
        
            {% if current_user.level == "Expert" %}
                <form action="{{ url_for('manage_object.delete_object', obj_id=obj.id) }}" method="post">
                    <button type="submit" class="delete-btn" onclick="return confirm('Voulez-vous vraiment supprimer cet objet ?')">
                        Supprimer
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <div id="requestMotifOverlay">
        <div id="requestMotif">
            <h2>Demande de suppression</h2>
            <form action="{{ url_for('manage_object.request_object', obj_id=obj.id) }}" method="post">
                <div class="form-group">
                    <label for="description">Motif :</label>
                    <textarea name="description" id="description" required></textarea>
                </div>
                <div class="user-actions">
                <button type="submit" class="edit-btn">Envoyer</button>
                <button type="button" class="delete-btn" onclick="closeRequestMotif()">Fermer</button>
                </div>
            </form>
        </div>
    </div>


    <!-- TODO Code JS a mettre en dehors de la page -->
    <script>
        function openRequestMotif() {
            document.getElementById("requestMotifOverlay").style.display = "flex";
        }
    
        function closeRequestMotif() {
            document.getElementById("requestMotifOverlay").style.display = "none";
        }
    </script>
{% endblock %}
