{% extends "base.html" %}

{% block content %}
    <div class="user-container">
        <h2 class="title-box">Mes informations :</h2>
        <div class="user-info">
            <p><strong>Prénom :</strong> {{ user.firstname }}</p>
            <p><strong>Nom :</strong> {{ user.lastname }}</p>
            <p><strong>Âge :</strong> {{ user.age }}</p>
            <p><strong>Genre :</strong> {{ user.gender }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Pseudo :</strong> {{ user.pseudo }}</p>
            <p><strong>Niveau :</strong> {{ user.level }}</p>
        </div>  
        <div class="user-actions">
            <a href="{{ url_for('main.update_profile') }}">
                <button class="edit-btn">Modifier</button>
            </a>
            <form method="POST" action="{{ url_for('main.delete_profile') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">
                <button class="delete-btn" type="submit">
                    Supprimer
                </button>
            </form>
        </div>
    </div>
{% endblock %}
