{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Modifier l'utilisateur</h3>
    <div class="box">
        <div class="back">
            <a href="{{ url_for('main.profile') }}" class="button">
                <img src="{{ url_for('static', filename='croix.png') }}" alt="Profil"  width="20" height="20">
            </a>
        </div>  
            {% if current_user.image %}
                <img src="data:image/png;base64,{{ current_user.image | b64encode }}" width="60" height="60">
            {% else %}
                <img src="{{ url_for('static', filename='utilisateur-de-profil-sans-fond.png') }}"  width="60" height="60">
            {% endif %}
        <form method="POST" action="{{ url_for('main.edit_user1') }}" enctype="multipart/form-data">
            <h3>Partie publique</h3>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="pseudo" placeholder="pseudo" autofocus="" value="{{current_user.pseudo}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="age" placeholder="Âge" autofocus="" value="{{current_user.age}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="gender" placeholder="Sexe" autofocus="" value="{{current_user.gender}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="birthdate" placeholder="Date de Naissance" autofocus="" value="{{current_user.birthdate}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {%if current_user.level == "Expert" %}
                        <input class="input is-large" type="text" name="role" placeholder="Rôle" value="{{current_user.role}}" required>
                    {% else %}
                        <input class="input is-large" type="text" name="role" placeholder="Rôle" value="{{current_user.role}}" readonly>
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="level" placeholder="Niveau" value="{{current_user.level}}" readonly>
                </div>
            </div>

            <h3>Partie privée</h3>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="lastname" placeholder="Nom de Famille" value="{{current_user.lastname}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="firstname" placeholder="Prénom" autofocus="" value="{{current_user.firstname}}" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="point" placeholder="Points" autofocus="" value="{{current_user.point}}" readonly>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" value="{{current_user.email}}" readonly>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="password" name="password" placeholder="Mot de Passe" autofocus="" value="{{current_user.password}}" required>
                    <button type="button" id="toggle-password" class="button is-small" onclick="togglePassword()">Afficher</button>
                </div>
            </div>
            
            <script>
                // Fonction pour alterner l'affichage du mot de passe
                function togglePassword() {
                    var passwordField = document.getElementById('password');
                    var toggleButton = document.getElementById('toggle-password');
                    
                    if (passwordField.type === "password") {
                        passwordField.type = "text";  // Révéler le mot de passe
                        toggleButton.innerText = "Masquer";  // Changer le texte du bouton
                    } else {
                        passwordField.type = "password";  // Masquer le mot de passe
                        toggleButton.innerText = "Afficher";  // Changer le texte du bouton
                    }
                }
            </script>
            
            
            <div class="upload-file">
                <label class="label">Modifier la photo de profil :</label>
                <div class="control">
                    <input class="input" type="file" name="image">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Enregistrer</button>
        </form>
    </div>
{% endblock %}
