{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Modifier mon profil</h3>
    <div class="box"> 
        <form method="POST" action="{{ url_for('main.update_profile') }}">
            {{ form.hidden_tag() }}
        
            <div class="field">
                <div class="control">
                    {{ form.firstname(class="input is-large", placeholder="Prénom") }}
                </div>
                {% for error in form.firstname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        
            <div class="field">
                <div class="control">
                    {{ form.lastname(class="input is-large", placeholder="Nom") }}
                </div>
                {% for error in form.lastname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        
            <div class="field">
                <div class="control">
                    {{ form.age(class="input is-large", placeholder="Âge") }}
                </div>
            </div>
        
            <div class="field">
                <div class="control">
                    {{ form.gender(class="input is-large", placeholder="Genre") }}
                </div>
            </div>
        
            <div class="field">
                <div class="control">
                    {{ form.email(class="input is-large", placeholder="Email") }}
                </div>
                {% for error in form.email.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        
            <div class="field">
                <div class="control">
                    {{ form.pseudo(class="input is-large", placeholder="Pseudo") }}
                </div>
                {% for error in form.pseudo.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="user-actions">
                <button type="submit" class="edit-btn">Enregistrer</button>
                <a href="{{ url_for('main.profile') }}">
                    <button class="delete-btn">Annuler</button>
                </a>
            </div>                                
        </form>
    </div>
</div>
{% endblock %}
