{% extends "base.html" %}

{% block content %}
<div class="user-container">
    <div class="back">
        <a href="{{ url_for('manage_object.list_objects') }}" class="button">
            <img src="{{ url_for('static', filename='croix.png') }}" alt="Profil"  width="20" height="20">
        </a>
    </div>
    <h1 class="title-box">Information de l'utilisateur</h1>

    <div class="user-info">
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Pseudo :</strong> {{ user.pseudo }}</p>
        <!-- TODO Voir comment on affiche le mot de passe parce que pour l'instant c'est immonde -->
        <p><strong>Mot de passe :</strong> ...<!-- {{ user.password }}--></p> 
        <p><strong>Prénom :</strong> {{ user.firstname }}</p>
        <p><strong>Nom :</strong> {{ user.lastname }}</p>
        <p><strong>Genre :</strong> {{ user.gender }}</p>
        <p><strong>Âge :</strong> {{ user.age }}</p>
        <p><strong>Niveau :</strong> {{ user.level }}</p>
    </div>

    <div class="user-actions">
        <a href="{{ url_for('main.edit_user', user_id=user.id) }}">
            <button class="edit-btn">Modifier</button>
        </a>
        <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="post">
            <button type="submit" class="delete-btn" onclick="return confirm('Voulez-vous vraiment supprimer ce compte ?')">
                Supprimer
            </button>
        </form>
    </div>
</div>
{% endblock %}
